/********/

body { padding-top: 70px;
    background-color: black;
}

.header-wrapper {
    /*background-color: rgba(32, 36, 40, 0.91);*/
   background-color: #222222;
    padding-bottom: -10px;
    /*background-color: rgb(26, 0, 0);*/
    height: auto;
    padding-top: 20px;
}

.page-header {
    border-bottom: none;
}

.page-header > div > h1 {
    text-align: center;
    color: white;
    font-family: Montserrat,sans-serif;
    font-weight: 900;
}

.sub > p {
    text-align: center;
    color: darkgray;
    font-family: "Telefon Black", sans-serif;
    font-weight: 100;
}

.img-responsive {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
}

.thick-green-border {
    border-color: #23381D;
    border-width: 8px;
    border-style: solid;
    border-radius: 50%;
}

.content-wrapper {
    background-color: #343338;
    color: #8C8B8D;
}

.content-wrapper p, h4 {
    font-family: 'Gidugu', sans-serif;
    font-weight: 100;
}

.about {
    padding:  45px 25px 60px 25px;
    max-height: 1200px;
}

/**********Portfolio***********/
.portfolio-wrapper {
    background-color: #343338;
    padding-bottom: 20px;
    /*padding-top: 40px;*/
}

.portfolio-wrapper > h2 {
    color: #8C8B8D;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 35px 20px;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/************Skills************/
.col-centered{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.skills-wrapper {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 15px 5px 20px 10px;
    background-color: #343338;
}

.skills-wrapper h2 {
    color: #8C8B8D;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 25px;
}

.card-title {
    color: #8C8B8D;
    /*text-align: center;*/
}

.skills-wrapper p {
    color: #8C8B8D;
}

.icons {
    color: #8C8B8D;
    text-align: center;
    padding-top: 37px;
}

/************Contact**************/
.contact-wrapper {
    height: 420px;
    margin-top: 24px;
    padding-top: 10px;
    background-color: #343338;
}

.contact-wrapper  h2 {
    color: #8C8B8D;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 25px;
}

.contact-wrapper p {
    color: #8C8B8D;
}

.message {
    width: 90%;
    padding-top: 20px;
}

.message > p {
    color: #8C8B8D;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    margin-left: 34px;
}

/************Footer*************/
.footer-wrapper {
    background-color: #28282B;
    margin-top: 9px;
    margin-bottom: 17px;
    padding: 15px 5px 20px 5px;
    color:darkgray;
}

.footer-wrapper > p {
    text-transform: uppercase;
}

.footer > div > a {
    font-size: 28px;
    padding: 8px;
}

#footer > .footer a {
    color: darkgray;
}

.round-border {
    border-radius: 50%;
}

.fa:hover {
   color:lightgray;
}

#alert {
    color: #FF6347;
    display: none;
}

/*************hyperlinks**********/
a:active, a:focus {
    outline: none;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: darkgray;
    outline: none !important;
}