
/*body {*/
    /*background-img: lightblue;*/
/*}*/

body { padding-top: 70px;
}

.header-wrapper {
    /*background-color: rgba(32, 36, 40, 0.91);*/
    background-color: lightblue;
    /*position: absolute;*/
    /*padding-left: 20px;*/
    height: auto;
    padding-top: 20px;
}

.content-wrapper {
    background-color: whitesmoke;
}

.portfolio-wrapper {
    background-color: white;

}

.third-wrapper {
    background-color: #0e0e0e;
    padding: 20px 5px 10px 5px;
}

.round-border {
    border-radius: 50%;
}

/*.main-header {*/
    /*background-color: white;*/
/*}*/

.img-responsive {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
}

.title {
    color: #696969;
    padding:29px;
}

#alert {
    color: #FF6347;
}


p {
    color: #696969;
}
 ul{
     color: #696969;
 }

.footer > div > a {
    font-size: 28px;
    padding: 8px;
}