/********/



body { padding-top: 70px;
    background-color: black;
}

.header-wrapper {
    /*background-color: rgba(32, 36, 40, 0.91);*/
   background-color: #222222;
    padding-bottom: -10px;
    /*background-color: rgb(26, 0, 0);*/
    height: auto;
    padding-top: 20px;
}

.page-header {
    border-bottom: none;
}

.page-header > div > h1 {
    text-align: center;
    color: white;
    font-family: Montserrat,sans-serif;
    font-weight: 900;
}

.sub > p {
    text-align: center;
    color: darkgray;
    font-family: "Telefon Black", sans-serif;
    font-weight: 100;
}

.img-responsive {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
}

.thick-green-border {
    border-color: #1B1527;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.content-wrapper {
    background-color: #343338;
    color: #8C8B8D;
}

.content-wrapper p, h4 {
    font-family: 'Gidugu', sans-serif;
    font-weight: 100;
}

.about {
    padding:  45px 25px 60px 25px;
    max-height: 1200px;
}

/**********Portfolio***********/
.portfolio-wrapper {
    background-color: #343338;
    padding-bottom: 70px;
    /*padding-top: 40px;*/
}

.portfolio-wrapper > h2 {
    color: #8C8B8D;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 35px 20px;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/************Skills************/
.col-centered{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.skills-wrapper {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 15px 5px 62px 10px;
    background-color: #343338;
}

.skills-wrapper h2 {
    color: #8C8B8D;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 25px;
}

.card {
    border: solid 2px #1B1527;
    margin: 20px;
    padding: 15px;
    margin-left: 190px;
}

.card-score {
    display: block;
}

.card-title {
    color: #8C8B8D;
    /*text-align: center;*/
}

.skills-wrapper p {
    color: #8C8B8D;
}

.icons {
    color: #8C8B8D;
    /*color: white;*/
    /*text-align: center;*/
    padding-top: 25px;
}

.icon-javascript-alt:before {
    content: "\f143";
}

.icon-javascript-alt {
    padding-right: 52px;
    margin-right: 49px;
}

.icon-jquery {
    padding-right: 52px;
    margin-right: 49px;
}

/************Contact**************/
.contact-wrapper {
    height: 325px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #343338;
}

.contact-wrapper  h2 {
    color: #8C8B8D;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 25px;
}

.contact-wrapper p {
    color: #8C8B8D;
}

.message {
    width: 90%;
    padding-top: 30px;
}

.message > p {
    color: #8C8B8D;
    font-family: 'Gidugu', sans-serif;
    font-weight: 100;
    /*margin-left: 34px;*/
}

.message-fun {
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 25px;

}
/*************Scroll to top button******/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1B1527;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/************Footer*************/
.footer-wrapper {
    background-color: #28282B;
    margin-top: 9px;
    margin-bottom: 15px;
    padding: 15px 5px 30px 5px;
    color:darkgray;
}

.footer-wrapper > p {
    text-transform: uppercase;
}

.footer > div > a {
    font-size: 28px;
    padding: 8px;
}

#footer > .footer a {
    color: darkgray;
}

.round-border {
    border-radius: 50%;
}

.fa:hover {
   color:lightgray;
}

#alert {
    color: #FF6347;
    display: none;
}

/*************hyperlinks**********/
a:active, a:focus {
    outline: none;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: darkgray;
    outline: none !important;
}


/*----------MEDIA Queries_____________*/

/*----------SMALL SCREEN------ */

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
        font-color: white;

        }

}

/***** medium and large*******/
@media only screen and (min-width : 1000px) and (max-width : 1580px){

}


/*@grid-float-breakpoint:*/