.round-border {
    border-radius: 50%;
}

.main-header {
    background-color: #696969;
}

.img-responsive {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
}

.title {
    color: #F0FFFF;

}

.main-content {
    background-color: #F0FFFF;
}



