.round-border {
    border-radius: 50%;
}

.main-header {
    background-color: white;
}

.img-responsive {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    margin-bottom: 15px;
}

.title {
    color: #696969;
}

#alert {
    color: #2d3339;
}
.main-content {
    background-color: #F0FFFF;
}

body {
    background: #2d3339
}

p {
    color: #f4f3ce
}
 ul{
     color: #F0FFFF
 }